*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

  }
body{
    background: #e1d7cf;
    scroll-behavior: smooth;
  }
/*--HOME SECTION // HERO-IMAGE */
#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
/* NAVIGATION BAR */
.navbar{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    z-index: 100;
    padding-right: 7rem;
    background-color: #43727a;
    position: fixed;
    width: 100%;
    padding-top: 0.5rem;
    
  }
.logo{
    margin: 0.3rem 2rem;
    width: 140px;
    height: 55px;
    padding-top: 0.1rem;
    
  }

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 3rem;
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: "Montserrat";
    font-weight: bold;
    transition: 0.5s ease-out;
}
nav ul li a:hover, 
nav ul li a.active{
    color: rgb(239, 239, 191);
    letter-spacing: 1px;
}


/*HERO-TEXT*/
.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin-top: 150px;
  
  }
  .hero-text h1{
    font-family: "Michroma";
    font-size: 50px;
    letter-spacing: 8px;
  }
  .hero-text h3{
    font-family: "Courgette";
    font-size: 25px;
  }
/* SOCMED-ICONS */
.socials{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }

  
  .icon{
    color: white;
    background: dimgray;
    border: dimgray 1px solid;
    padding: 5px;
    border-radius: 50px;
    transition: 1s;
  
  }

  .icon:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: #fff 2px solid
  }

/* ABOUT SECTION */
#about{
    width: 100%;
    height: 100vh;
    background-color: #e1d7cf;
    padding-top: 5rem;
}    

.about-gradpic{
    width: 180px;
    height: 180px;
    border-radius: 30%;
}

.name{
    font-size: 4em;
    letter-spacing: 2px;
    font-family: "Gruppo";
    font-weight: bolder;
    color: dimgrey;
    text-shadow: 2px;
    padding-top: 10em;
    margin-top: 20%;
    text-transform: uppercase ;
  }

.quote{
    text-indent: 2em;
    font-size: 1.5em;
    font-family: "Courgette";
    font-style: italic;
    color:rgba(70, 54, 54, 0.781);
    letter-spacing: 2px;
}

.educ-content{
    background-color:#e1d7cf;
    width: 100%;
    float: left;
    font-size: 1em;
    text-align: center;
  }

.headtitle{
    font-family: "Montserrat";
    align-items: center;
    margin-left: 70px;
    letter-spacing: 5px;
    color: dimgray;
  }

/* EDUCATIONAL BACKGROUND TABLE */

.educ-table{
    line-height: 1.5rem;
    height: 400px;
    width: 97%;
    padding: 2rem 3rem;
    justify-content: center;
    border: #e1d7cf 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    margin: 1rem;
  
}

.headtitle{
    font-family: "Montserrat";
    align-items: center;
    margin-left: 70px;
    letter-spacing: 5px;
    color: dimgray;
    padding: -10rem auto 2rem;

  }

  .category{
    font-size: 1.3em;
    font-weight: bold;
    color: dimgrey;
    letter-spacing: 4px;
    text-shadow: 2px;
    text-align: center;
    font-family: "Abel";
    text-transform: uppercase;
  }

  .category hr{
    border-top: #43727a 2px solid;
    border-bottom: dimgrey 2px solid;
    width: 95%;

  }
  
  .course{
    font-size: 16px;
    font-family: "Poppins";
    color: rgba(70, 54, 54, 0.781);
    letter-spacing: 1.5px;    
  }

  .school{
    font-size: 16px;
    font-family:"Montserrat";
    letter-spacing: 1px;
    color: rgba(70, 54, 54, 0.781);
    font-weight: bold;
  }
  
  .location{
    font-family:"Poppins";
    color: rgba(70, 54, 54, 0.781);
    font-size: 17px;
  }
  .year{
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgba(70, 54, 54, 0.781);
    
  }
  .award{
    font-family: "Poppins";
    color: rgba(70, 54, 54, 0.781);
    font-weight: light;
  }
  
  /* GALLERY SECTION */

  
  #gallery{
    width: 100%;
    background: #43727a;
    padding: 0;


  }
 .text-gallery{
    padding-top: 7rem;
    text-align: left;
    margin-left: 1rem;
 }
 .text-gallery h1{
  font-size: 50px;
  letter-spacing: 5px;
  font-family: "Protest Riot";
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .text-gallery p{
  font-size: 15px;
  font-family: "Montserrat";
  color: #fff;
  font-style: italic;

 }
 .bg-container{
  background: #f5f2f2;
  justify-content: center;
  width: 98%;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

 }
  
  .container{
    margin: 20px auto;
    columns: 5;
    column-gap: 10px;
    width: 1250px;
    

  }

  .pix{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
  }

  .pix img{
    max-width: 100%;
    border-radius: 15px;
  }

  @media (max-width: 1200px)
  {
    .container
    {
      width: calc(100% - 40px);
      columns: 3;
    }
  }
  @media (max-width: 768px)
  {
    .container
    {
      columns: 2;
    }
  }
  @media (max-width: 480px)
  {
    .container
    {
      columns: 1;
    }
  }

  /* CONTACT SECTION */
  #contact{
    background-color: #607f84;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;


}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-left: 5rem;
    border: #607f84 3px solid;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.input-contact{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 50px;
    font-family: "Montserrat";

}

.contact-form textarea{
    height: 150px;
    padding-top: 15px;
    border-radius: 20px;
}
.input-contact:focus{
    border: #b9b7b7 2px solid;
}
.contact-form::placeholder{
    color: #a9a9a9;
    font-size: 50px;
}
.contact-form button{
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #43727a;
    margin-top: 15px;
    color: #fff;
    font-family: "Montserrat";
}
.contact-form button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: #fff 2px solid;
    background: transparent;
    letter-spacing: 3px;
}
.social-content{
    width: 40%;
    height: 75%;
   
}
.social-content h1{
    margin-bottom: 30px;
    font-size: 80px;
    text-transform: uppercase;
    font-family: "Gruppo";
    letter-spacing: 5px;
    color: rgb(239, 239, 191);
    text-shadow: 0 0 5px rgba(230, 211, 211, 0.2);
}
.changetext{
    letter-spacing: 9px;
    color: rgb(241, 232, 221);
}
.socials-contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2rem;
}
.socials-contact a{
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 17px;
    color: #fff;
    margin-left: 6px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-style: italic;
    transition: 0.5s ease-out;
}
.socials-contact a:hover{
    color: rgb(239, 239, 191);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.icon-contact{
    color: none;
    border-radius: 50px;
    padding: 5px;
    background: #454242;
    font-size: 20px;
    justify-content: center;
    align-items: center;

}


@media (max-width: 800px){
    .input-contact{
        width: 80vw;
    }
    
}


footer{
  background-color: #43727a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  }

.copyright{
  font-size: 15px;
  font-family: "Poppins";
  color: rgb(239, 239, 191);

}
.developer{
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Montserrat";
  color: rgb(221, 221, 180);
}
